body {
	font-family: helvetica;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
}

main{
	padding-top: 100px;
	padding-left: 70px;
}

.header{
	position: fixed;
	width: 100%;
	height: 60px;
	background-color: gray;
	padding-left: 40px;
	padding-right: 40px;
}

.header header{
	margin-top: 16px;
	margin-bottom: 16px;
	width: 50%;
	display: inline-block;
}

.header header > h2{
	margin-top: 0px;
	margin-bottom: 0px;
}

.header ul{
	position: fixed;
	right: 40px;
	display: inline-block;
	font-size: 14pt;
}

.header ul > li{
	display: inline;
	padding-right: 5px;
}

.search{
	width: 500px;
	height: 20px;
}

.magnifglass{
	border-radius: 5px;
	border: 1px solid;
	width: 26px;
	height: 26px;
	background: url("images/magnifying-glass.png") no-repeat;
	background-size: cover;
	padding: 8px;
}

.navigation > form{
	width: max-content;
	width: -webkit-max-content;
	margin-top: 20px;
	font-size: 0;
	border: 1px solid;
	border-radius: 3px;
}

.navigation input{
	background: white;
	margin: 0px;
	font-size: 16px;
	border: 0;
}

.navigation input:hover{
	background: grey;
}

input.center:hover{
	background: transparent;
}

input.center{
	border-left: 1px solid black;
	border-right: 1px solid black;
}

.list{
	font-size: 20pt;
}

.list ul{
	padding: 0px;
}

.list li{
	list-style: none;
	padding: none;
	margin-bottom: 20px;
}

.list.job{
	display: inline-block;
}

.job > ol{
	display: inline;
	color: blue;
	font-weight: bold;
	padding-left: 0;
	padding-right: 20px;
}

.job > li {
	display: inline;
	padding-right: 20px;
}